<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: gml-tracer
    Description: none
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <module name="FileContentsHolder"/>
    <module name="AbstractClassName"/>
    <module name="ConstantName">
      <property name="format" value="^[A-Z][A-Z0-9]*(_?_[A-Z0-9]+)*$"/>
    </module>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="AvoidStarImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>
    <module name="AvoidNestedBlocks">
      <property name="allowInSwitchCase" value="true"/>
    </module>
    <module name="EmptyBlock"/>
    <module name="AvoidInlineConditionals">
      <property name="severity" value="info"/>
    </module>
    <module name="CovariantEquals">
      <property name="severity" value="error"/>
    </module>
    <module name="DefaultComesLast"/>
    <module name="DeclarationOrder"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="ExplicitInitialization">
      <property name="severity" value="error"/>
    </module>
    <module name="FallThrough">
      <property name="severity" value="error"/>
    </module>
    <module name="FinalLocalVariable">
      <property name="severity" value="error"/>
      <property name="tokens" value="PARAMETER_DEF,VARIABLE_DEF"/>
    </module>
    <module name="HiddenField">
      <property name="severity" value="error"/>
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>
    <module name="IllegalInstantiation"/>
    <module name="IllegalCatch"/>
    <module name="IllegalThrows"/>
    <module name="InnerAssignment"/>
    <module name="JUnitTestCase"/>
    <module name="MagicNumber"/>
    <module name="MissingCtor"/>
    <module name="ModifiedControlVariable"/>
    <module name="MultipleStringLiterals"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="NestedIfDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedTryDepth"/>
    <module name="ReturnCount">
      <property name="max" value="4"/>
    </module>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="SuperClone">
      <property name="severity" value="error"/>
    </module>
    <module name="SuperFinalize">
      <property name="severity" value="error"/>
    </module>
    <module name="ArrayTrailingComma">
      <property name="severity" value="error"/>
    </module>
    <module name="BooleanExpressionComplexity"/>
    <module name="ClassDataAbstractionCoupling"/>
    <module name="ClassFanOutComplexity"/>
    <module name="CyclomaticComplexity"/>
    <module name="JavaNCSS"/>
    <module name="NPathComplexity"/>
    <module name="ArrayTypeStyle">
      <property name="severity" value="error"/>
    </module>
    <module name="LineLength">
      <property name="max" value="140"/>
      <property name="tabWidth" value="2"/>
    </module>
    <module name="ModifierOrder"/>
    <module name="JavadocMethod">
      <property name="severity" value="warning"/>
      <property name="scope" value="package"/>
      <property name="excludeScope" value="private"/>
    </module>
    <module name="JavadocStyle">
      <property name="severity" value="warning"/>
      <property name="checkHtml" value="false"/>
    </module>
  </module>
  <module name="RegexpHeader">
    <property name="header" value="^/\*$\n^ \* Copyright \(c\) \d{4} Siemens A&amp;D CD\. All rights reserved\.$\n^ \* This software is the confidential and proprietary information of Siemens A&amp;D CD\.$\n^ \* This file is part of .{3,}$\n^ \*/$"/>
  </module>
  <module name="SuppressionCommentFilter">
    <property name="offCommentFormat" value="CHECKSTYLE\s+ILLEGALCATCH\s+OFF"/>
    <property name="onCommentFormat" value="CHECKSTYLE\s+ILLEGALCATCH\s+ON"/>
    <property name="checkFormat" value="IllegalCatch"/>
  </module>
  <module name="SuppressionCommentFilter"/>
  <module name="JavadocPackage">
    <property name="severity" value="info"/>
  </module>
</module>
